/*
Sidebar announcement block
*/



.block-nextgxdx-webinar  {
  margin-bottom: 34px;
  border: solid 1px #204048;
  padding: 9px 6px 6px 6px;
}


.l-region--sidebar-second .block-nextgxdx-webinar h2.block__title {
  margin-top: 0 !important;
  padding-top: 0 !important;
  color: #d07529;
}




.block-nextgxdx-webinar h3.announceblock {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 4px;
  font-size:18px;
  margin-left: 0;
  line-height: 1.4;
}



.block-nextgxdx-webinar p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size:14px;
  line-height: 1.4;
}

.block-nextgxdx-webinar .reglink {
  color:#204048;
  font-size:16px;
  font-weight:700;
  color:white;
  vertical-align:center;
  margin-top:14px;
  margin-bottom:14px;
  background-color:#204048;
  border-radius:6px;
  text-align:center;
  padding:6px;
}
